*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
 
}
html{
    scroll-behavior: smooth;
}
/* start nav  */
.nav{
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    position:absolute;
    
}
.nav_brand{
    
    text-decoration-line: none;
    padding:0 30px;
}
.nav_link{
    
    width: 40%;
    
     display: flex;
    justify-content: space-between;
}

.nav_brand a{
    text-decoration-line: none;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
.nav_link a{
    text-decoration-line: none;
   
    
    color: #fff;
}
.nav_link a:hover{
    text-decoration-line: none;
   
    
    color: rgba(255, 255, 255, .7);
}
/* end nav  */

/* start header */


.header{
     background-color: aquamarine;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/image_1.jpg);
     color: aliceblue;
     text-align: center;

}
.header_box{
   
   
    width: 80%;
    margin: 0 auto;
    padding: 300px 0  ;
}
.header_box p{
    font-size: 50px;
}
.header_link{
    margin-top: 40px;
}
.header_link1{
    color: white;
    background-color: #1a57a5;
    text-decoration-line: none;
     border-radius: 5px;
     border-style: solid;
     border-color:#1a57a5 ;
     padding: 15px 25px;
}
.header_link1:hover{
    background-color: #103463;
}
.header_link2{
    color: white;
    text-decoration-line: none;
    border-radius: 5px;
    border-style: solid;
    border-color:white ;
    padding: 15px 25px;
}
.header_link2:hover {
    background: rgba(255, 255, 255, .3);
}

/* end header */
/* start serv */
.serv{
    
    height: 500px;
    
}
.serv_box{
    padding: 70px;
    width: 85%;
    margin:0 auto ;
    display: flex;
    justify-content:space-between;
}
.serv_link1{
    width: 33%;
  
}
.serv_top_icon{
    font-size: 60px; 
    color: #1a57a5;
}
.serv_link1 h3{
    color: #1a57a5;
    padding: 10px;
    margin: 10px;
}
.serv_link1 p{
    color: rgba(15, 9, 1, 0.533);
    padding:10px 10px ;
    margin: 10px 10px;
}
.serv_link1 a {
    text-decoration: none;
    color: #1a57a5;
    margin-left: 20px;
    
}
.serv_link1 a i{
    
    color: #1a57a5;
    font-size: 10px;
    transition-duration: 0.5s;
}
.serv_link1 a:hover i{
margin-left: 20px;
}
/* end serv */
/* start Features */
.Features{
    background-color: #D6E6F2;
    padding: 40px 0px 100px 0px;
    
   
}
.Features_box{
    
}
.sec_top{
   
   
    margin: 0 auto;
    display: flex;
    width: 65%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}
.sec_top_link{
    display: block;
    font-size: 43px;
    padding: 20px;
   
}
.sec_top_line{
    width: 70px;
    height: 2px;
    
    display: block;
    background-color: #1a57a5;
}
.sec_top p{
    color:#73767c;
   
  padding: 20px; 
  line-height:30px;
}
.sec_mid{
    
    display: flex;
    width: 100%;
   color:#73767c;
    flex-direction:row-reverse;
    align-items: center;
    padding-top: 35px;
}
.sec_mid_link{
    
    width: 45%;
    
   font-size: 14px;
   
    padding: 90px ;
    line-height: 30px;

}
.sec_mid_link span{
    font-size: 25px;
    color: #1a57a5;
}
.sec_mid_img{
    width: 55%;   
}
.sec_mid_img img{
    width: 500px;   
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}
.sec_mid_link ul{
    padding-top: 20px;
    list-style-type:none; /* ۱. حذف کامل نشانگرهای پیش‌فرض (نقطه‌ها) */
    padding-left: 20px;    /* ۲. تنظیم padding برای ایجاد فضا برای تیک */
}
.sec_mid_link li{
    position: relative; /* ۳. تنظیم موقعیت نسبی برای قرار دادن تیک */
    padding-left: 25px; /* ۴. ایجاد فضای خالی در سمت چپ متن برای تیک */
    margin-bottom: 8px; /* فاصله بین خطوط */
}
.sec_mid_link li::before{
    content: "\2713"; /* کد یونیکد تیک (بالای V) */
    /* یا می توانید از فونت‌های آیکون مانند Font Awesome استفاده کنید: */
    /* font-family: "Font Awesome 5 Free"; */
    /* content: "\f00c"; */ 
    
    position: absolute;
    left: 0; /* قرار دادن تیک در ابتدای خط */
    color: #1a57a5; /* رنگ تیک */
    font-weight: bold; /* ضخیم کردن تیک */
    font-size: 15px;
}
.sec_mid1{
     display: flex;
    width: 100%;
   color:#73767c;
    flex-direction:row;
    align-items: center;
    padding-top: 5px;
}

/* end Features */
/* start plan  */

.plan{
    background-color: #fff;
    padding: 100px 20px;
    
    
    
    
}

.plan_top{
   
    
    margin: 0 auto;
    display: flex;
    width: 65%;
    text-align: center;
    flex-direction:column;
    align-items: center;
     background-color: #fff;
   
}
.plan_top p{
    color:#73767c;
   
   
  line-height:30px;
}
.plan_box{
    background-color: #fff;
   
    
    margin: 120px 0;
    display: flex;
    flex-direction: row;
    
   
}
.plan_box1{
    padding: 10px;
    border-style:solid;
    border-color: rgb(239, 229, 229);
    border-width: 0.5px;
    line-height: 33px;
    text-align: center;
    margin: auto 20px;
    width: 33%;
    
}
.plan_box_2{
    padding: 10px;
    border-style:solid;
    border-color: #ebebeb;
    border-width: 0.5px;
    line-height: 33px;
    text-align: center;
    margin: auto 20px;
    width: 33%;
   box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}
.plan_top1{
    font-family: inherit;
    font-size: 14px;
    
}
.plan_num{
    font-size: 60px;
    color:  #1a57a5;
}
.plan_box2{
    font-style: italic;
    color: #bfc3ca;
    font-size: 15px;
}
.plan_box ul{
    padding-top: 20px;
    list-style-type:none; /* ۱. حذف کامل نشانگرهای پیش‌فرض (نقطه‌ها) */
    padding-left: 20px;    /* ۲. تنظیم padding برای ایجاد فضا برای تیک */
    text-align:left;
     color: #6b6b6e;
}
.plan_box  li{
    position: relative; /* ۳. تنظیم موقعیت نسبی برای قرار دادن تیک */
    padding-left: 25px; /* ۴. ایجاد فضای خالی در سمت چپ متن برای تیک */
    margin-bottom: 8px; /* فاصله بین خطوط */
}
.plan_box li::before{
    content: "\2713"; /* کد یونیکد تیک (بالای V) */
    /* یا می توانید از فونت‌های آیکون مانند Font Awesome استفاده کنید: */
    /* font-family: "Font Awesome 5 Free"; */
    /* content: "\f00c"; */ 
    
    position: absolute;
    left: 0; /* قرار دادن تیک در ابتدای خط */
    color: #1a57a5; /* رنگ تیک */
    font-weight: bold; /* ضخیم کردن تیک */
    font-size: 15px;
}
.plan_link1{
     color: white;
     background-color: #262626;
     text-decoration-line: none;
     border-radius: 5px;  
     padding: 10px 35px;
}
.plan_link1:hover{
    background-color: #333;
}
.plan_link12 {
    color: #fff;
    background: #1a57a5;
    text-decoration-line: none;
     border-radius: 5px;  
     padding: 10px 35px;
}
.plan_link12:hover {
    color: #fff;
    background-color: #286090;
}

/* end plan  */
 /* star frame  */
 .frame {
    background-color: #D6E6F2;
    padding: 100px 0;
 }
 .frame_top {
    background-color: #D6E6F2;
    margin: 0 auto;
    display: flex;
    width: 65%;
    text-align: center;
    flex-direction: column;
    align-items: center;
 }
 .frame_img {
    background-color: #fff;
    width: 30%;
    padding:  20px 0 0 20px ;
    
 }
 .frame_img img{
    border-radius: 500px;
    width: 70px; /* عرض عکس 300 پیکسل خواهد بود */
          height: auto;

 }
 .frame_top1{
    display: block;
    font-size: 43px;
    padding: 20px;
   
}
.frame_line{
    width: 70px;
    height: 2px;
    display: block;
    background-color: #1a57a5;
}
.frame_top p{
    color:#73767c;
   
  padding: 20px; 
  line-height:30px;
}
.frame_box1{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #D6E6F2;
    
  
    margin:0 auto ;
   

}




.frame_box{
    background-color: #fff;        
    width: 31%;
    margin: 20px 0;
    
    

}
.frame_box blockquote{
    line-height: 30px;
     padding: 20px 0 0 20px;
     font-size: 18px;
     font-style: italic;
     
}
.frame_box span{
    padding-left:20px;
    color: #999ca3;
    
}
.frame_star{
    padding: 0 20px;
}
.gold {
    color: gold;
}
.fa-empty{
    color: #999ca3;
}
 /* end frame  */
 /* start todey  */
.todey{
    background-color: #fff;
    margin: 100px 0;

}
.todey1{
    background-color: #fff;
}
.sec_top a{
    color: #fff;
    background: #1a57a5;
    text-decoration-line: none;
     border-radius: 5px;  
     padding: 10px 35px;

}
.sec_top a:hover{
     color: #fff;
    background: #286090;
}
.todey_img img{
    max-width: 100%;
    height: auto;
    margin: 100px auto;
}
.todeylink{
        width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
  
    margin:0 auto ;
}
.todey_link{
    
    width: 45%;
    line-height: 30px;
    color: #45484e;
    margin: 20px 0;
}
.todey_link p{
    color: #0a0a0a;
}
.tik{
    color: #09539e;
}
 /* end todey  */


 /* start join  */
 .join{
    color: white;
    background-color: rgba(26, 87, 165);
    padding: 40px 0;
 }
 .join p{
    color: rgba(255, 255, 255, .7);
 } 
 .join a{
    background-color: #262626;
 }
 .join a:hover{
    background-color: #333;
}



/* end join   */


/* start contact  */
.contact{
    background-color: #D6E6F2;
    
}
.contact_box{
    background-color: #D6E6F2;
    
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    
   

   
}
.contact_form{
    width: 50%;
    background-color: #fff;
     margin: 50px;
     padding: 30px;margin-bottom: 150px;
}
.contact_form span{
    font-size: 30px;
    margin: 30px 0 ;
    display: block;
}
.contact_info{
    ;
   width: 50%;
    margin: 50px;
}
.contact_form1{
    appearance: none;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 45px;
    display: block; 
    margin: 20px 0; 
}
.contact_form textarea{
     
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    width: 100%;
    display: block; 
    margin: 20px 0;
}
.contact_form2{
     color: #fff;
     background: #1a57a5;
     border: none;
     border-radius: 5px;  
     padding: 10px 35px;
}
.contact_form2 :hover{
    background-color: #103463;
}
.contact_info_title{
    color: #999ca3;
    margin-top: 20px;
    display: block;
}
.contact_info_link{
    display: block;
    
    color: #73767c;
    width: 45%;
}
/* end contact  */

/* start footer  */
.footer{
    background-color: #1a57a5;
   padding: 30px;
   padding-bottom: 50px;
}
.footer_box{
    background-color: #1a57a5;
    
}

.footer_icon{
    list-style-type:none;
    display: flex;
    justify-content: center;
margin-bottom: 30px;
}
.footer_icon a{
    color:rgba(255, 255, 255, .4);
   font-size: 35px;
   padding: 50px 10px;
   
}
.footer_icon a :hover{
    color: #fff;
}
.footer_bot{
    background-color: #1a57a5;
    text-align: center;
     color: #fff;
     line-height: 25px;
    
}
.footer_bot a{
     color:rgba(255, 255, 255, .4);
     text-decoration: none;
}
.footer_bot a:hover{
    color: #fff;
}
/* end footer  */